main{
  background-color: lightblue;
  text-align: center;
  margin: auto;
}

#title{
  color: red;
  font-family: arial, sans-serif;
  
}
figure {
  background-color: white;
}


.title {
	// this is for a class
}

img {
	max-width: 100%;	
	margin: 0 auto;
	display: block;
  //height: auto;
}

#img-div{
  margin: 10px;
  padding: 15px;
}

.img-caption{
	// this is for a class	
}
	
#tribute-info{
  list-style-position: inside;
  width: 50%;
  //text-align: justify;
  //border-style: solid;
  margin: auto;
  padding-bottom: 1px;
 }

#dates-list{
  //border-style: solid;
  width: 80%;
  text-align: justify;
  margin: auto;
}
